@model IEnumerable<WebDiDong.Models.NhaSanXuat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">NHÀ SẢN XUẤT</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã nhà sản xuất</th>
                        <th>Tên nhà sản xuất</th>
                        <th>Tình Trạng</th>
                        <th class="text-center" colspan="2">
                            <a href="@Url.Action("Create","NhaSanXuatAdmin")"><img src="~/Asset/images/Add.png" /></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaNhaSanXuat</td>
                            <td>@item.TenNhaSanXuat</td>
                            <td>@item.TinhTrang</td>
                            <td class="text-center" colspan="2">
                                <a href="@Url.Action("Edit","NhaSanXuatAdmin", new { id = @item.MaNhaSanXuat})"> <img src="~/Asset/images/edit.png" /></a> &nbsp;&nbsp;
                                <a href="@Url.Action("Delete","NhaSanXuatAdmin", new { id = @item.MaNhaSanXuat})"> <img src="~/Asset/images/Delete.png" /></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>