@model WebDiDong.Models.SanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error ! </strong> @TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>x</span>
        </button>
    </div>
}

<style>
    input[type=number], .inputSanPham {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        flex: 1;
    }

    select {
        margin-bottom: 8px;
    }

    select {
        margin-bottom: 8px;
    }

    .ck-editor__editable[role="textbox"] {
        /* editing area */
        min-height: 200px;
    }

    .ck-content .image {
        /* block images */
        max-width: 80%;
        margin: 20px auto;
    }
</style>
@using (Html.BeginForm("Edit", "SanPhamAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table style="display: flex; justify-content: center;">
        <tr>
            <td>Mã Sản Phẩm</td>
        </tr>
        <tr>
            <td> <input class="inputSanPham" type="text" name="MaSanPham" value="@Model.MaSanPham" readonly /></td>
        </tr>
        <tr>
            <td>Tên Sản Phẩm</td>
        </tr>
        <tr>
            <td> <input class="inputSanPham" type="text" name="TenSanPham" value="@Model.TenSanPham" /></td>
        </tr>
        <tr>
            <td>Loại</td>
        </tr>
        <tr>
            <td>
                <select class="form-select" id="lLoai" name="MaLoaiSanPham">
                    <option value="">Xin hãy chọn...</option>
                    @foreach (var loai in ViewBag.LSP)
                    {
                        if (loai.MaLoaiSanPham == Model.MaLoaiSanPham)
                        {
                            <option value="@loai.MaLoaiSanPham" selected>
                                @loai.TenLoaiSanPham
                            </option>
                        }
                        else
                        {
                            <option value="@loai.MaLoaiSanPham">
                                @loai.TenLoaiSanPham
                            </option>
                        }

                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Giá</td>
        </tr>
        <tr>
            <td> <input style="width: 300px; float:left;" type="number" name="Gia" value="@Model.Gia" /></td>
        </tr>
        <tr>
            <td>Nhà Sản Xuất</td>
        </tr>
        <tr>
            <td>
                <select class="form-select" id="lbrand" name="MaNhaSanXuat">
                    <option value="">Xin hãy chọn...</option>
                    @foreach (var nsx in ViewBag.NSX)
                    {
                        if (nsx.MaNhaSanXuat == Model.MaNhaSanXuat)
                        {
                            <option value="@nsx.MaNhaSanXuat" selected>
                                @nsx.TenNhaSanXuat
                            </option>
                        }
                        else
                        {
                            <option value="@nsx.MaNhaSanXuat">
                                @nsx.TenNhaSanXuat
                            </option>
                        }

                    }
                </select>

            </td>
        </tr>
        <tr>
            <td>Hình Chính</td>
        </tr>
        <tr>
            <td>
                @Model.HinhChinh
                <input type="file" id="limage" name="HinHChinhFile" />
            </td>
        </tr>

        <tr>
            <td>Cấu Hình</td>
        </tr>
        <tr>
            <td><textarea name="CauHinh" id="editor">@Model.CauHinh</textarea></td>
        </tr>

        <tr>
            <td colspan="3">
                <center>
                    <button type="submit" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px; ">Save</button>
                    <a href="@Url.Action("Index", "SanPhamAdmin")" class="btn btn-info">Cancel</a>
                </center>
            </td>
        </tr>
    </table>
}