@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Mobile Shop</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Asset/css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Asset/css/style.css">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="~/Asset/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Asset/fonts/font-slider.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="~/Asset/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="~/Asset/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        .ck.ck-content ul,
        .ck.ck-content ul li {
            list-style-type: inherit;
        }

        .ck.ck-content ul {
            /* Default user agent stylesheet, you can change it to your needs. */
            padding-left: 40px;
        }
    </style>
</head>

<body>
    <!--Top-->
    <nav id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <select class="language">
                        <option value="English" selected>English</option>
                        <option value="France">France</option>
                        <option value="Germany">Germany</option>
                    </select>
                    <span class="currency"><a href="../Admin/MainAdmin">Đến trang Admin</a></span>
                </div>
                <div class="col-xs-6">
                    <ul class="top-link">
                        @Html.Partial("_LoginPartial", WebDiDong.Models.BUS.ThongTinCaNhanBUS.LoadThongTin(User.Identity.GetUserId()))
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--Header-->
    <header class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="logo"><a href="/Home"><img src="~/Asset/images/logo.png" /></a></div>
            </div>
            <div class="col-md-4">
                <form class="form-search">
                    <input type="text" class="input-medium search-query">
                    <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
            @Html.Action("GioHangPartial", "GioHang")
        </div>
    </header>

    <!--Navigation-->
    <nav id="menu" class="navbar bg-gradient-dark">
        <div class="container">
            <div class="navbar-header">
                <span id="heading" class="visible-xs">Categories</span>
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>
                        @Html.ActionLink("Sản Phẩm", "Index", "Shop")
                    </li>
                    @Html.Partial("_LoaiSanPham", WebDiDong.Models.BUS.LoaiSanPhamBUS.DanhSach())
                    @Html.Partial("_NhaSanXuat", WebDiDong.Models.BUS.NhaSanXuatBUS.DanhSach())
                </ul>
            </div>
        </div>
    </nav>
    <!--//////////////////////////////////////////////////-->
    <!--///////////////////HomePage///////////////////////-->
    <!--//////////////////////////////////////////////////-->
    @RenderBody()
    @{ Html.RenderPartial("_Footer");}

    @RenderSection("scripts", required: false)
</body>
</html>
